.todo-card .ant-card-head-title {
  color: rgba(255, 255, 255, 0.815);
}

.todo-card .ant-card-head {
  background: rgb(84, 122, 165);
}

.ant-card-meta-title {
  white-space: normal;
}
white-space: normal;
.quantity {
  font-weight: bold;
}
